{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "spaced-comment" : [0, "always"],
    "no-use-before-define": [2, "nofunc"],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-shadow": [0], //this is used for Redux in the connect, and need to get from component props this way
    "id-length": [0,  {"properties": "never", "exceptions" : ["x", "y", "w", "h", "i", "e"]}],
    "no-console": [0],
    "no-debugger": [0],
    "prefer-const": [0],
    //"max-len": [1, {"code": 120}],
    "new-cap": [2, {"capIsNewExceptions": ["DragSource", "DropTarget", "DragDropContext"]}]
  }
}
